*{
    margin: auto;
    padding: 0;
}


header{
    background-color: darkblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
header a{
    color: white;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 20px;
}
section img{
     width: 100%;
     height: auto;
}
.travel{
    text-align: center;
    margin: 10px;
}
body{
    background-color:rgba(224, 255, 255, 0.728)
}
.grid-image{
    width: 330px;
    height: 220px;
}
.city-name{
    text-align: center;
    padding: 10px;
}
body h2{
    padding: 16px;
    text-align: center;
}
.about-content{
    text-align: center;
}
section img{
    width: 100%;
    height: 60%;
}
.city-content{
    padding: 24px;
    text-align: center;
}
.form{
    background-color: white;
    padding: 20px;
    padding-bottom: 10px; 
    width: 300px;
    margin:20px auto;
    border: 1px solid black;
}
.form-section{
    padding: 24px;
}
.form-input input{
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.submit-button{
    margin: 10px;
    text-align: center;
    color: white;
}
.submit-button input{
    background-color: darkblue;
    color: white;
    padding: 6px;
    margin-top: 10px;
}
.city-name p{
    background-color: white;
    padding: 15px;
    font-size: 15px;

}
footer{
    background-color: darkblue;
    text-align: center;
    padding: 20px;
    color: white;
}
.main_section{
    min-height: calc(100vh - 121px);
}